<h1 class="animated fadeIn">Usuarios Registrados</h1>
<hr>

<div class="row m-5">
    <div class="col">
        <table class="table text-dark">
            <thead>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>                
                <th>Telefono</th>
                <th>Editar</th>
                <th>Borrar</th>
            </thead>
            <tbody>
                <tr *ngFor="let usu of users">
                    <td>{{usu.Nombres}}</td>
                    <td>{{usu.Apellidos}}</td>
                    <td>{{usu.Direccion}}</td>
                    <td>{{usu.Telefono}}</td>
                    <td>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-edit"></i>
                          </button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-danger waves-effect waves-light m-r-10">
                            <i class="fa fa-trash"></i>
                          </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>