<h1 class="animated fadeIn">Usuarios Registrados</h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="users.length == 0">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
          No existen usuarios en la BD
      </div>
    </div>
  </div>


<div class="row m-5">
    <div class="col">
        <table *ngIf="users.length > 0" class="table text-dark">
            <thead>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>                
                <th>Telefono</th>
                <th>Editar</th>
                <th>Borrar</th>
            </thead>
            <tbody>
                <tr *ngFor="let usu of users; let i = index" >
                    <td>{{usu.Nombres}}</td>
                    <td>{{usu.Apellidos}}</td>
                    <td>{{usu.Direccion}}</td>
                    <td>{{usu.Telefono}}</td>
                    <td>
                        <button (click)="capturar(usu.NumDocumento,usu.Nombres,usu.Apellidos, usu.Direccion,usu.Telefono)" type="submit" data-toggle="modal" class="btn btn-success waves-effect waves-light m-r-10" data-target="#myModal">
                            <i class="fa fa-edit"></i>
                          </button>
                    </td>
                    <td>
                        <button (click)="borrarUsuaruio(usu.NumDocumento)" type="submit" class="btn btn-danger waves-effect waves-light m-r-10">
                            <i class="fa fa-trash"></i>
                          </button>
                    </td>
                    <app-modal [iduser]="verSeleccion" [name]="nombres" [lastName]="apellidos" [adress]="direccion" [phone]="telefono" ></app-modal>
                </tr>
            </tbody>
        </table>
    </div>
</div>
